$check_bgd: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
$bright_blue: hsl(220, 98%, 61%);

/* DARK THEME */
$dark_bgd: hsl(235, 21%, 11%);
$dark_bgd_list: hsl(235, 24%, 19%);
$light_gray: hsl(234, 39%, 85%);
$light_hover: hsl(236, 33%, 92%);
$dark_gray_blue: hsl(234, 11%, 52%);
$very_dark_gray1: hsl(233, 14%, 35%);
$very_dark_gray2: hsl(237, 14%, 26%);

/* LIGHT THEME */
$light_bgd: hsl(0, 0%, 98%);
$very_light_blue: hsl(236, 33%, 92%);
$light_grayish_blue: hsl(233, 11%, 84%);
$dark_grayish_blue: hsl(236, 9%, 61%);
$very_dark_grayish_blue: hsl(235, 19%, 35%);

@font-face {
    font-family: Bold;
    src: url(fonts/Josefin_Sans/static/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: Regular;
    src: url(fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: Light;
    src: url(fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
}

@mixin flx-pos($content, $items) {
    display: flex;
    justify-content: $content;
    align-items: $items;
}
@mixin bgd-style($url) {
    background: $url center center no-repeat;
}